.DrawerBody{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.DrawerHead{
    width: 100%;
    height: 60px;
    background-color: black;
}

.DrawerSidebar{
    background-color: whitesmoke;
    height: 100%;
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.DrawerContent{
    background-color: white;
    height: 100%;
    width: calc(100% - 400px );
    display: inline-block;
}

@media (max-width : 800px){
    .DrawerSidebar{
        background-color: whitesmoke;
        width: 400px;
        height: 100%;
        display: none;
    }
    
    .DrawerContent{
        background-color: white;
        height: 100%;
        width: 100%;
    }

}

.SideBarAndContent
{
    width: 100%;
    height: calc(100% - 60px);
    display: inline-block;
}