html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: flex !important; 
    flex-direction: column !important;
}

.CR_Application{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}
#CR_Drawer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#CR_Dialogue
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-padding-x{
    padding-left: 0;
    padding-right: 0;
}